openapi: 3.1.0
info:
  title: Microsoft To Do API (Microsoft Graph) ChecklistItems Tasks API
  description: Minimal OpenAPI definition for the Microsoft To Do API exposed via Microsoft Graph for managing task lists, tasks, checklist items, and linked resources.
  version: v1.0
  x-generated-from: https://learn.microsoft.com/en-us/graph/api/resources/todo-overview
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
security:
- bearerAuth: []
tags:
- name: Tasks
paths:
  /me/todo/lists/{todoTaskListId}/tasks:
    parameters:
    - $ref: '#/components/parameters/TaskListId'
    get:
      tags:
      - Tasks
      summary: List todoTasks in list
      operationId: listTodoTasks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
    post:
      tags:
      - Tasks
      summary: Create todoTask
      operationId: createTodoTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '201':
          description: Created
  /me/todo/lists/{todoTaskListId}/tasks/{todoTaskId}:
    parameters:
    - $ref: '#/components/parameters/TaskListId'
    - $ref: '#/components/parameters/TaskId'
    get:
      tags:
      - Tasks
      summary: Get todoTask
      operationId: getTodoTask
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Tasks
      summary: Update todoTask
      operationId: updateTodoTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Tasks
      summary: Delete todoTask
      operationId: deleteTodoTask
      responses:
        '204':
          description: No Content
  /me/todo/lists/{todoTaskListId}/tasks/delta:
    parameters:
    - $ref: '#/components/parameters/TaskListId'
    get:
      tags:
      - Tasks
      summary: Delta query of todoTasks in list
      operationId: deltaTodoTasks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
components:
  parameters:
    TaskId:
      in: path
      name: todoTaskId
      required: true
      schema:
        type: string
    TaskListId:
      in: path
      name: todoTaskListId
      required: true
      schema:
        type: string
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
    GenericList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GenericObject'
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
