openapi: 3.1.0
info:
  title: Microsoft To Do API (Microsoft Graph) ChecklistItems API
  description: Minimal OpenAPI definition for the Microsoft To Do API exposed via Microsoft Graph for managing task lists, tasks, checklist items, and linked resources.
  version: v1.0
  x-generated-from: https://learn.microsoft.com/en-us/graph/api/resources/todo-overview
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
security:
- bearerAuth: []
tags:
- name: ChecklistItems
paths:
  /me/todo/lists/{todoTaskListId}/tasks/{todoTaskId}/checklistItems:
    parameters:
    - $ref: '#/components/parameters/TaskListId'
    - $ref: '#/components/parameters/TaskId'
    get:
      tags:
      - ChecklistItems
      summary: List checklist items
      operationId: listChecklistItems
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
    post:
      tags:
      - ChecklistItems
      summary: Create checklist item
      operationId: createChecklistItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '201':
          description: Created
  /me/todo/lists/{todoTaskListId}/tasks/{todoTaskId}/checklistItems/{checklistItemId}:
    parameters:
    - $ref: '#/components/parameters/TaskListId'
    - $ref: '#/components/parameters/TaskId'
    - in: path
      name: checklistItemId
      required: true
      schema:
        type: string
    get:
      tags:
      - ChecklistItems
      summary: Get checklist item
      operationId: getChecklistItem
      responses:
        '200':
          description: OK
    patch:
      tags:
      - ChecklistItems
      summary: Update checklist item
      operationId: updateChecklistItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: OK
    delete:
      tags:
      - ChecklistItems
      summary: Delete checklist item
      operationId: deleteChecklistItem
      responses:
        '204':
          description: No Content
components:
  parameters:
    TaskId:
      in: path
      name: todoTaskId
      required: true
      schema:
        type: string
    TaskListId:
      in: path
      name: todoTaskListId
      required: true
      schema:
        type: string
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
    GenericList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GenericObject'
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
